[submodule "libthetvdb"]
	path = libthetvdb
	url = git@github.com:jeffWelling/libthetvdb.git
[submodule "moviedb"]
	path = moviedb
	url = git@github.com:jeffWelling/moviedb.git
[submodule "tmdb_party"]
	path = tmdb_party
	url = git://github.com/jeffWelling/tmdb_party.git
[submodule "memoizable"]
	path = memoizable
	url = git://github.com/jeffWelling/memoizable.git
